.inblock{
    background-color: red;
    display: inline-block;
    margin: auto;
    padding: 20px;
    border: black solid 10px;
}
p{
    display: inline-block;
    width: 300px;
    border: yellow dashed 10px;
    border-color:yellow ;
}
.block{
    display: inline-block;
}
#gg{
    background-color: green;
}
.rr{
    background-color: red;
}
.innblock{
    display: inline-block;
}
.back{
    background-image: url('0.png');
    background-size: contain;
    width: fit-content;
    height: auto;
    background-repeat: repeat;
    border: blue solid 10px;

}
body{
    font-weight: bold;
}